.application-area {
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  display: flex;
  flex-direction: row;
}

.left-area {
  height: 100%;
  width: 200px;
}

.main-area {
  height: 100%;
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: row;
}

.main-panel {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.detail-panel {
  height: 100%;
  width: 50%;
}

.pad-10 {
  padding: 10px 10px;
}

.padtop-0 {
  padding-top: 0px;
}

.welcome {
  padding-top: 80px;
  padding-left: 80px;
  font-size: 128px;
}
